version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: quizdb
      POSTGRES_USER: quizuser
      POSTGRES_PASSWORD: quizpass
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7

  web:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - '8000:8000'
    depends_on:
      - db
      - redis

volumes:
  db_data:
